body {
    margin: 0px;
    padding: 0px;
    font: poppins;
    width: 100%;
}

.nav{
    background-color: rgb(8, 84, 172);
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}

.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo{
    float: left;
    width: 60%;
}
.logo img{
    padding: 10px;
}

.nav_side{

    float: right;
    margin-right: 10px;
    width: 40%;
    margin-top: 20px;
}

.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.nav_side a:hover{
    color: orange;
    transition: all Is ease;
}



.main .main_content{
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.main .main_content h1{
    color: black;
    font-size: 40px;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
}

.main .main_content h1 span{
    font-size: 25px;
    opacity: 0.9;
    font-weight: bolder;
    line-height: 20px;
}







.keypoint{
    padding: 50px;
}

.keypoint h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

.keypoint .key_container{
    display: flex;
}

.keypoint .key_container .key_content{
    width: 40%;
    padding: 20px;
    float:left;
}

.keypoint .key_container .key_content li{
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orange;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,.15);
}

.keypoint .key_container .key_img{
   width: 50%;
   float: right;
   margin-left: 50px;
}

.keypoint .key_container .key_img img{
    width: 100%;
}

.team {
    padding: 50px;
}

.team h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.team .team_container{
    display: flex;
}

.team .team_container .team_video {
    width: 50%;
    padding: 20px;
}

.team .team_container .team_video iframe {
    width: 100%;
    border: 10px solid orange;
}


.team .team_container .team_content {
    width: 40%;
    padding: 20px;
    margin-left: 50px;
}

.team .team_container .team_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}


.about_us {
    padding: 100px;
}

.about_us h1 {

    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.about_us p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
    text-align: center;
    line-height: 20px;
}

.contact_us {
    padding: 100px;
}

.contact_us h2 {
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.contact_us .g_map{
    border: 10px solid purple;
}

.contact_us .contact_content {
    padding: 10px;
}

.contact_us .contact_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
    line-height: 20px;
}

.container {
   padding: 100px;
}
.feedback {
    padding : 100px;
}

.feedback h1 {
    color: black
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.feedback .feedback_form {
    text-align: center;
}

.feedback .feedback_form form {
    padding: 20px;
}

.feedback .feedback_form form input {
    color: black;
    width: 45%;
    margin: 10px;
    padding: 13px;
    outline: none;
    border: none;
}

.feedback .feedback_form form textarea {
    width: 45%;
    margin: 10px;
    padding: 13px;
    outline: none;
    border: none;
    font-family: cosmic, sans-serif;
}

.feedback .feedback_form form button {
    width: 30%;
    margin: 10px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #2874A6 ;
    color: white ;
    border-radius: 10px;
}

.feedback .feedback_form form button:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

footer{
    background-color: rgb(8, 84, 172);
    padding: 50px;
}

footer .footer_logo img{
    background-color: #99A3A4;
}

footer .pages{
    text-align: center;
}

footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .pages a:hover{
    color: white;
}

footer .doc{
    text-align: center;
}

footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .doc a:hover{
    color: white;
}



footer .contact{
    text-align: center;
}

footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}



footer .contact a{
    text-decoration: none;
     font-size: 30px;
     color: orange;
     margin: 10px;
}

footer .contact a:hover{
    color: black;
}

footer p{
    color: black;
    text-align: center;
}
